.online-btn{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 1px;
    margin:2px 0;
    border:none;
    border-radius:12px;
    background:#151515;
    color:white;
    cursor:pointer;
}

.online-btn:hover{
    background:#222;
}

.online-btn .left-img{
    display:flex;
    align-items:center;
    gap:12px;
}

.online-btn .btn-image{
    width:55px;
    height:55px;
    border-radius:10px;
    overflow:hidden;
    flex-shrink:0;
}

.online-btn .btn-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.online-btn .text-btn{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.online-btn .title{
    font-size:17px;
    font-weight:bold;
}

.online-btn .artist{
    font-size:13px;
    color:#aaa;
}


#New-songs{
  margin-top: 10px;
  padding: 10px;
}
#New-songs-header{
  display: flex;
  justify-content: space-between;
  align-items:center;

}
#New-songs-header h2{
  margin:0;
  font-size: 22px;
}
#New-songs-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 10px;
}

/* NEW SONGS SCREEN */
#New-songs-screen{
    display:none;
    position:fixed;
    inset:0;
    background:#000;
    overflow-y:auto;
    z-index:1000;
    padding-top:70px;
}

/* HEADER */
.New-screen-header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:60px;

    display:flex;
    align-items:center;
    gap:15px;

    padding:0 15px;
    background:#111;
    border-bottom:1px solid #333;
}

.New-screen-header h2{
    margin:0;
    color:#fff;
    font-size:22px;
}

#back-new-songs{
    width:42px;
    height:42px;
    border:none;
    border-radius:15px;
    background:#d311df;
    color:#fff;
    font-size:10px;
    cursor:pointer;
}

#back-new-songs:hover{
    background:#333;
}

/* LIST */
#New-songs-screen-list{
    display:flex;
    flex-direction:column;
    gap:5px;
    padding:15px;
    padding-bottom: 5px;
}

body.light-mode .online-btn,
body.light-mode #New-songs-screen {
  background: white;
  color:black;
}
body.light-mode .New-screen-header {
  background: hwb(0 90% 6%)
}
body.light-mode .New-screen-header h2{
  color: black;
}